.elementor-widget-section .premium-global-badge-{{ID}} .premium-badge-container{background-color:var( --e-global-color-primary );}.elementor-widget-section .premium-global-badge-{{ID}} .premium-badge-text{color:var( --e-global-color-secondary );}.elementor-widget-section .premium-global-badge-{{ID}} .premium-badge-icon{color:var( --e-global-color-secondary );fill:var( --e-global-color-secondary );}.elementor-widget-section .premium-global-cursor-{{ID}}{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-widget-section.premium-cursor-ftext .premium-global-cursor-{{ID}} .premium-cursor-follow-text{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-2794 .elementor-element.elementor-element-4e29e0b6:not(.elementor-motion-effects-element-type-background), .elementor-2794 .elementor-element.elementor-element-4e29e0b6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#020017;}.elementor-2794 .elementor-element.elementor-element-4e29e0b6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2794 .elementor-element.elementor-element-4e29e0b6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-widget-column .premium-global-badge-{{ID}} .premium-badge-container{background-color:var( --e-global-color-primary );}.elementor-widget-column .premium-global-cursor-{{ID}}{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-widget-column.premium-cursor-ftext .premium-global-cursor-{{ID}} .premium-cursor-follow-text{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-column .premium-global-badge-{{ID}} .premium-badge-text{color:var( --e-global-color-secondary );}.elementor-widget-column .premium-global-badge-{{ID}} .premium-badge-icon{color:var( --e-global-color-secondary );fill:var( --e-global-color-secondary );}.elementor-bc-flex-widget .elementor-2794 .elementor-element.elementor-element-2f4f768.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2794 .elementor-element.elementor-element-2f4f768.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2794 .elementor-element.elementor-element-2f4f768.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2794 .elementor-element.elementor-element-2f4f768 > .elementor-element-populated{padding:0px 014px 22px 14px;}.elementor-widget-image .premium-global-badge-{{ID}} .premium-badge-container{background-color:var( --e-global-color-primary );}.elementor-widget-image .eael-protected-content-message{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-image .protected-content-error-msg{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-image .premium-global-cursor-{{ID}}{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-widget-image.premium-cursor-ftext .premium-global-cursor-{{ID}} .premium-cursor-follow-text{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-image .premium-global-badge-{{ID}} .premium-badge-text{color:var( --e-global-color-secondary );}.elementor-widget-image .premium-global-badge-{{ID}} .premium-badge-icon{color:var( --e-global-color-secondary );fill:var( --e-global-color-secondary );}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-2794 .elementor-element.elementor-element-6b950b13{width:auto;max-width:auto;top:30px;}.elementor-2794 .elementor-element.elementor-element-6b950b13 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-2794 .elementor-element.elementor-element-6b950b13{left:22px;}body.rtl .elementor-2794 .elementor-element.elementor-element-6b950b13{right:22px;}.elementor-2794 .elementor-element.elementor-element-6b950b13 img{width:40px;}.elementor-widget-icon .premium-global-badge-{{ID}} .premium-badge-container{background-color:var( --e-global-color-primary );}.elementor-widget-icon .eael-protected-content-message{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-icon .protected-content-error-msg{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-icon .premium-global-cursor-{{ID}}{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-widget-icon.premium-cursor-ftext .premium-global-cursor-{{ID}} .premium-cursor-follow-text{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-icon .premium-global-badge-{{ID}} .premium-badge-text{color:var( --e-global-color-secondary );}.elementor-widget-icon .premium-global-badge-{{ID}} .premium-badge-icon{color:var( --e-global-color-secondary );fill:var( --e-global-color-secondary );}.elementor-widget-icon.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-primary );}.elementor-2794 .elementor-element.elementor-element-7781d951{width:auto;max-width:auto;top:38px;}body:not(.rtl) .elementor-2794 .elementor-element.elementor-element-7781d951{right:26px;}body.rtl .elementor-2794 .elementor-element.elementor-element-7781d951{left:26px;}.elementor-2794 .elementor-element.elementor-element-7781d951 .elementor-icon-wrapper{text-align:center;}.elementor-2794 .elementor-element.elementor-element-7781d951.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-2794 .elementor-element.elementor-element-7781d951.elementor-view-framed .elementor-icon, .elementor-2794 .elementor-element.elementor-element-7781d951.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-2794 .elementor-element.elementor-element-7781d951.elementor-view-framed .elementor-icon, .elementor-2794 .elementor-element.elementor-element-7781d951.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-2794 .elementor-element.elementor-element-7781d951 .elementor-icon{font-size:28px;}.elementor-2794 .elementor-element.elementor-element-7781d951 .elementor-icon svg{height:28px;}.elementor-widget-icon-list .premium-global-badge-{{ID}} .premium-badge-container{background-color:var( --e-global-color-primary );}.elementor-widget-icon-list .eael-protected-content-message{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-icon-list .protected-content-error-msg{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-icon-list .premium-global-cursor-{{ID}}{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-widget-icon-list.premium-cursor-ftext .premium-global-cursor-{{ID}} .premium-cursor-follow-text{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-icon-list .premium-global-badge-{{ID}} .premium-badge-text{color:var( --e-global-color-secondary );}.elementor-widget-icon-list .premium-global-badge-{{ID}} .premium-badge-icon{color:var( --e-global-color-secondary );fill:var( --e-global-color-secondary );}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-2794 .elementor-element.elementor-element-49a33f39 > .elementor-widget-container{margin:150px 0px 0px 0px;}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(10px/2);}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(10px/2);}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(10px/2);margin-left:calc(10px/2);}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-10px/2);margin-left:calc(-10px/2);}body.rtl .elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-10px/2);}body:not(.rtl) .elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-10px/2);}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-icon i{color:#FFFFFF;transition:color 0.3s;}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-icon svg{fill:#FFFFFF;transition:fill 0.3s;}.elementor-2794 .elementor-element.elementor-element-49a33f39{--e-icon-list-icon-size:15px;--e-icon-list-icon-align:center;--e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);--icon-vertical-offset:0px;}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-icon{padding-right:15px;}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:14px;font-weight:400;}.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-text{color:#FFFFFF;transition:color 0.3s;}.elementor-widget-html .premium-global-badge-{{ID}} .premium-badge-container{background-color:var( --e-global-color-primary );}.elementor-widget-html .eael-protected-content-message{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-html .protected-content-error-msg{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-html .premium-global-cursor-{{ID}}{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-widget-html.premium-cursor-ftext .premium-global-cursor-{{ID}} .premium-cursor-follow-text{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-html .premium-global-badge-{{ID}} .premium-badge-text{color:var( --e-global-color-secondary );}.elementor-widget-html .premium-global-badge-{{ID}} .premium-badge-icon{color:var( --e-global-color-secondary );fill:var( --e-global-color-secondary );}.elementor-2794 .elementor-element.elementor-element-2bb3fb94:not(.elementor-motion-effects-element-type-background), .elementor-2794 .elementor-element.elementor-element-2bb3fb94 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#12133A;}.elementor-2794 .elementor-element.elementor-element-2bb3fb94{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2794 .elementor-element.elementor-element-2bb3fb94 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2794 .elementor-element.elementor-element-1b2c6c7d > .elementor-element-populated{padding:22px 20px 22px 20px;}.elementor-2794 .elementor-element.elementor-element-1fb8d7f0{width:auto;max-width:auto;}.elementor-2794 .elementor-element.elementor-element-1fb8d7f0 img{width:40px;border-radius:10px 10px 10px 10px;}.elementor-widget-image-box .premium-global-badge-{{ID}} .premium-badge-container{background-color:var( --e-global-color-primary );}.elementor-widget-image-box .eael-protected-content-message{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-image-box .protected-content-error-msg{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-image-box .premium-global-cursor-{{ID}}{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );}.elementor-widget-image-box.premium-cursor-ftext .premium-global-cursor-{{ID}} .premium-cursor-follow-text{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-image-box .premium-global-badge-{{ID}} .premium-badge-text{color:var( --e-global-color-secondary );}.elementor-widget-image-box .premium-global-badge-{{ID}} .premium-badge-icon{color:var( --e-global-color-secondary );fill:var( --e-global-color-secondary );}.elementor-widget-image-box .elementor-image-box-title{color:var( --e-global-color-primary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-image-box .elementor-image-box-description{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-2794 .elementor-element.elementor-element-5fac713b{width:var( --container-widget-width, 120px );max-width:120px;--container-widget-width:120px;--container-widget-flex-grow:0;top:21px;}body:not(.rtl) .elementor-2794 .elementor-element.elementor-element-5fac713b{left:80px;}body.rtl .elementor-2794 .elementor-element.elementor-element-5fac713b{right:80px;}.elementor-2794 .elementor-element.elementor-element-5fac713b .elementor-image-box-wrapper{text-align:left;}.elementor-2794 .elementor-element.elementor-element-5fac713b .elementor-image-box-title{color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:600;}.elementor-2794 .elementor-element.elementor-element-5fac713b .elementor-image-box-description{color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:13px;font-weight:400;}.elementor-2794 .elementor-element.elementor-element-53914ac2{width:auto;max-width:auto;top:38px;}.elementor-2794 .elementor-element.elementor-element-53914ac2 > .elementor-widget-container{background-color:#020017;}body:not(.rtl) .elementor-2794 .elementor-element.elementor-element-53914ac2{right:22px;}body.rtl .elementor-2794 .elementor-element.elementor-element-53914ac2{left:22px;}.elementor-2794 .elementor-element.elementor-element-53914ac2 .elementor-icon-wrapper{text-align:center;}.elementor-2794 .elementor-element.elementor-element-53914ac2.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-2794 .elementor-element.elementor-element-53914ac2.elementor-view-framed .elementor-icon, .elementor-2794 .elementor-element.elementor-element-53914ac2.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-2794 .elementor-element.elementor-element-53914ac2.elementor-view-framed .elementor-icon, .elementor-2794 .elementor-element.elementor-element-53914ac2.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-2794 .elementor-element.elementor-element-53914ac2 .elementor-icon{font-size:28px;}.elementor-2794 .elementor-element.elementor-element-53914ac2 .elementor-icon svg{height:28px;}@media(max-width:767px){.elementor-2794 .elementor-element.elementor-element-53914ac2 > .elementor-widget-container{padding:11px 10px 3px 10px;}}/* Start custom CSS for icon, class: .elementor-element-7781d951 */.elementor-2794 .elementor-element.elementor-element-7781d951{
    --gap: 0.25em;
    --weight: 0.05em;
    --width: 0.8em;
}
.elementor-2794 .elementor-element.elementor-element-7781d951 .elementor-icon{
    position: relative;
}
.elementor-2794 .elementor-element.elementor-element-7781d951 i:before,
.elementor-2794 .elementor-element.elementor-element-7781d951 i:after,
.elementor-2794 .elementor-element.elementor-element-7781d951 .elementor-icon:after{
    content: "";
    height: var(--weight);
    width: var(--width);
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + var(--gap)));
}
.elementor-2794 .elementor-element.elementor-element-7781d951 i:after{
    transform: translate(-50%,calc(-50% - var(--gap)));
}
.elementor-2794 .elementor-element.elementor-element-7781d951 .elementor-icon:after{
    transform: translate(-50%,-50%);
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-49a33f39 */.elementor-2794 .elementor-element.elementor-element-49a33f39{
    --radius: 8px;
    
}
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-icon{
  color: currentColor;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: currentColor;
  text-align: center;
}
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item.active .elementor-icon-list-icon,
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item:hover .elementor-icon-list-icon{
    -webkit-text-stroke-width: 1px;
}
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item a{
    padding: 13px 18px !important;
    border-radius: var(--radius);
}
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item.active a,
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item:hover a{
    background: #fff;
}
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item.active span,
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item:hover span,
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item.active span i,
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-item:hover span i{
    color: #000;
}
.elementor-2794 .elementor-element.elementor-element-49a33f39 .elementor-icon-list-text{
    min-width: var(--width);
}
.elementor-2794 .elementor-element.elementor-element-49a33f39 a:focus{
    outline: none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4e29e0b6 */:root{
    --w: 80px;
    --narrow-width: 250px;
}

.elementor-2794 .elementor-element.elementor-element-4e29e0b6{
    width: var(--w);
    overflow: auto;
    position: fixed;
    transition: all 0.3s ease-in-out !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none
}
.elementor-2794 .elementor-element.elementor-element-4e29e0b6::-webkit-scrollbar{
    display: none;
}

.sidebar-toggle{
    cursor: pointer;
}

body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6{
    width: var(--narrow-width) !important;
}
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-inner-section .elementor-widget-wrap{
    padding-left: 22px !important;
    padding-right: 25px !important;
}
.elementor-2794 .elementor-element.elementor-element-4e29e0b6 .logo{
    transition: all 0.3s ease-in-out;
    /*display: none;*/
    pointer-events: none;
    opacity: 0;
}
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .logo{
    opacity: 1;
    pointer-events: unset;
    /*display: block;*/
}
body.open .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .logo{
    /*display: block;*/
    /*opacity: 1;*/
}
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .sidebar-toggle{
    right: 22px;
}
.elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-widget-search-form form{
    position: relative;
}
.elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-widget-search-form form:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-widget-search-form form:before{
    z-index: -1;
}
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-search-form__icon{
    padding-left: 18px !important;
}
.elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-icon-list-text{
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-icon-list-text{
    opacity: 1;
}

.elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-widget-image-box{
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .elementor-widget-image-box{
    opacity: 1;
}
.elementor-2794 .elementor-element.elementor-element-4e29e0b6 .user{
    transition: all 0.1s ease-in-out;
}
/*.elementor-2794 .elementor-element.elementor-element-4e29e0b6 .user .elementor-widget-wrap{*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .user .elementor-widget-wrap{
    padding-left: 22px !important;
    padding-right: 22px !important;
}
body.opening  .elementor-2794 .elementor-element.elementor-element-4e29e0b6 .user img {
    width: 45px;
    transition: all 0.3s ease-in-out;
}

header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--w);
    transition: all 0.3s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
}

@media (max-width: 1024px){
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
    transform: translateX(calc(var(--w) - var(--narrow-width)));
    width: calc(100% - var(--w));
    transition: all 0.6s ease-in-out !important;
}
body.open header + *,
body.open [data-elementor-type="header"] + *,
body.open footer,
body.open [data-elementor-type="footer"]{
    transform: translateX(0);
    /*width: calc(100% - var(--narrow-width));*/
    transition: all 0.3s ease-in-out !important;
}
html, body{
    overflow-x: hidden;
}
}

@media (max-width: 767px){
:root{
    --w: 250px;
    --narrow-width: 80px;
}
.elementor-2794 .elementor-element.elementor-element-4e29e0b6,
body.opening .elementor-2794 .elementor-element.elementor-element-4e29e0b6{
    height: 100vh;
    width: var(--w) !important;
    transform: translateX(calc(-1*var(--w)));
}
body.left .elementor-2794 .elementor-element.elementor-element-4e29e0b6{
    transform: translateX(0);
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 0 !important;
    transform: translateX(0);
    transition: all 0.3s ease-in-out !important;
    width: 100% !important;
}
body.left header + *,
body.left [data-elementor-type="header"] + *,
body.left footer,
body.left [data-elementor-type="footer"]{
    margin-left: var(--w) !important;
}
.elementor-2794 .elementor-element.elementor-element-4e29e0b6 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{
    height: 100vh;
}
}

.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-53914ac2 */.elementor-2794 .elementor-element.elementor-element-53914ac2{
    --gap: 0.25em;
    --weight: 0.05em;
    --width: 0.8em;
}
.elementor-2794 .elementor-element.elementor-element-53914ac2 .elementor-icon{
    position: relative;
}
.elementor-2794 .elementor-element.elementor-element-53914ac2 i:before,
.elementor-2794 .elementor-element.elementor-element-53914ac2 i:after,
.elementor-2794 .elementor-element.elementor-element-53914ac2 .elementor-icon:after{
    content: "";
    height: var(--weight);
    width: var(--width);
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + var(--gap)));
}
.elementor-2794 .elementor-element.elementor-element-53914ac2 i:after{
    transform: translate(-50%,calc(-50% - var(--gap)));
}
.elementor-2794 .elementor-element.elementor-element-53914ac2 .elementor-icon:after{
    transform: translate(-50%,-50%);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-278353ba */.elementor-2794 .elementor-element.elementor-element-278353ba{
    height: 0;
}/* End custom CSS */